<mat-drawer-container
  class="container"
  autosize
  (mouseenter)="isMobile && drawer.open()"
  (mouseleave)="isMobile && drawer.close()"
>
  <mat-drawer #drawer class="sidenav" mode="side" [opened]="!isMobile">
    <div>
      <button
        routerLink="/boards"
        (click)="isMobile && drawer.close()"
        mat-raised-button
      >
        Boards
      </button>
    </div>
    <div>
      <button
        routerLink="/my-boards"
        (click)="isMobile && drawer.close()"
        mat-raised-button
      >
        My boards
      </button>
    </div>
    <div>
      <button
        routerLink="/new-board"
        (click)="isMobile && drawer.close()"
        mat-raised-button
      >
        New board
      </button>
    </div>
    <div>
      <button
        routerLink="/settings"
        (click)="isMobile && drawer.close()"
        mat-raised-button
      >
        Settings
      </button>
    </div>
  </mat-drawer>
</mat-drawer-container>
