<mat-drawer-container *ngIf="authUser$ | async" class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" [opened]="!isMobile">
    <div>
      <button
        routerLink="/boards"
        (click)="isMobile && drawer.close()"
        mat-button
        [ngClass]="{ clicked: clickedButton === '/boards' }"
      >
        Boards
      </button>
    </div>
    <div>
      <button
        routerLink="/my-boards"
        (click)="isMobile && drawer.close()"
        mat-button
        [ngClass]="{ clicked: clickedButton === '/my-boards' }"
      >
        My boards
      </button>
    </div>
    <div>
      <button
        routerLink="/new-board"
        (click)="isMobile && drawer.close()"
        mat-button
        [ngClass]="{ clicked: clickedButton === '/new-board' }"
      >
        New board
      </button>
    </div>
    <div>
      <button
        routerLink="/settings"
        (click)="isMobile && drawer.close()"
        mat-button
        [ngClass]="{ clicked: clickedButton === '/settings' }"
      >
        Settings
      </button>
    </div>
    <div>
      <button (click)="logout()" mat-button>Log out</button>
    </div>
  </mat-drawer>

  <button class="drawer-button" mat-icon-button (click)="drawer.toggle()">
    <mat-icon *ngIf="!drawer.opened">arrow_forward_ios</mat-icon>
    <mat-icon *ngIf="drawer.opened">arrow_back_ios</mat-icon>
  </button>
  
</mat-drawer-container>
