.container {
  min-height: 100%;
  .sidenav {
    background-color: rgb(246, 246, 250);
    width: 200px;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 18px 0 0 0;
    border: none;
    div {
      width: 100%;
      display: flex;
      justify-content: center;
      .clicked {
        background-color: rgb(210, 215, 217);
      }
    }
  }

  .drawer-button {
    position: fixed;
    margin: 15px;
  }
}

@media (max-width: 768px) {
  .container {
    .drawer-button {
      margin: 15px 0 0 0;
    }
  }
}
