<div class="container">
  <app-board-header
    [board]="board"
    (updateBoardEvent)="getBoard()"
    [getColumns]="getColumns.bind(this)"
  >
  </app-board-header>

  <app-board-info *ngIf="board"
    [board]="board"
    [numberOfTasks]="numberOfTasks"
    [numberOfDoneTasks]="mappedTasks && mappedTasks['Done'].length"
    [numberOfBlockedTasks]="mappedTasks && mappedTasks['Blocked'].length"
  ></app-board-info>

  <div
    class="columns"
    cdkDropListGroup
    cdkScrollable
    cdkDropList
    [cdkDropListData]="columns"
    (cdkDropListDropped)="dropColumn($event)"
    cdkDropListOrientation="horizontal"
    [cdkDropListAutoScrollStep]="30"
    cdkDropListLockAxis="x"
  >
    <div
      cdkDrag
      class="column"
      [ngStyle]="{ 'flex-basis': 100 / columns.length + '%' }"
      *ngFor="let column of columns"
      cdkDropList
      [cdkDropListAutoScrollStep]="30"
      [cdkDropListData]="{ tasks: mappedTasks[column], statusTitle: column }"
      (cdkDropListDropped)="dropTask($event)"
      cdkDragPreviewContainer="parent"
    >
      <h2>{{ column }}</h2>

      <div
        cdkDrag
        cdkDragPreviewContainer="parent"
        (click)="openTaskDialog(task.id)"
        class="task-card"
        *ngFor="let task of mappedTasks[column]"
      >
        <mat-card-title>{{ task.title }}</mat-card-title>
        <mat-card-content>
          <div>
            <p>Users:</p>
            <span>{{ getAssignedUsersString(task.users) }}</span>
          </div>
          <p>
            Date added: <span>{{ task.createdDate | date: "shortDate" }}</span>
          </p>
        </mat-card-content>
      </div>
    </div>
  </div>
</div>
