.container {
  width: 100%;
  min-width: 50vw;
  min-height: 65vh;
  overflow: scroll;
  flex-direction: column;
  justify-content: space-between;
  .new-status-form {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    width: 85vw;
  }
}
