<div class="container">
  <ng-container *ngIf="boards$ | async as boards">

    <div class="no-boards" *ngIf="!boards.length">
      <p>There's no boards yet...</p>
      <button color="primary" mat-flat-button routerLink="/new-board">
        Create a board
      </button>
    </div>

    <mat-card *ngFor="let board of boards" class="board-card">

      <mat-card-title [routerLink]="board.id" class="title">{{
        board.title
      }}</mat-card-title>

      <mat-card-subtitle [routerLink]="board.id" class="description">{{
        board.description
      }}</mat-card-subtitle>

      <mat-card-actions>
        <mat-icon
          *ngIf="authUserId === board.ownerId"
          (click)="deleteBoard(board.id)"
          >close</mat-icon
        >
      </mat-card-actions>
      
    </mat-card>
  </ng-container>
</div>
