header {
  background-color: rgb(0, 38, 75);
  min-height: 70px;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  justify-content: space-between;
  cursor: default;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        margin: 0;
        font-size: 1.1rem;
        font-weight: 500;
      }
    }
    h1 {
      margin: 0;
      padding: 10px;
      font-size: 2rem;
      font-weight: 900;
      text-transform: uppercase;
    }
  }
}

@media (max-width: 425px) {
  span {
    display: none;
  }
}
