<h2>Drag and drop to change order</h2>

<div
  cdkScrollable
  cdkDropList
  [cdkDropListData]="columns"
  class="example-list"
  (cdkDropListDropped)="drop($event)"
  #statusList [scrollTop]="statusList.scrollHeight"
>
  <div
    class="example-box"
    *ngFor="let column of columns"
    cdkDrag
    cdkDragLockAxis="y"
    cdkDragBoundary=".example-list"
  >
    <div *ngIf="editedStatus !== column">
      {{ column }}
    </div>

    <app-edit-status
      style="flex: 1 1 80%"
      *ngIf="editMode && column === editedStatus"
      [statusId]="getStatusId(column)"
      [boardId]="boardId"
      [title]="column"
      (updatedEvent)="switchEditModeOff()"
    ></app-edit-status>

    <div class="icons" *ngIf="isCustom(column)">
      <mat-icon [matMenuTriggerFor]="menu">more_horizontal</mat-icon>
      <mat-menu #menu="matMenu">
        <button (click)="switchEditModeOn(column)" mat-menu-item>
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button (click)="deleteStatus(column)" mat-menu-item>
          <mat-icon>close</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </div>
  </div>
</div>
