<div class="container">
  <form [formGroup]="componentForm" (ngSubmit)="handleSubmit()" #form="ngForm">
    <div class="form-group">
      <h2>Create a new task</h2>

      <div *ngIf="error" class="form-error">
        {{ error }}
      </div>

      <mat-form-field class="form-field">
        <mat-label>Title</mat-label>
        <input
          matInput
          type="text"
          class="form-control"
          id="title"
          name="title"
          required
          formControlName="title"
        />
      </mat-form-field>

      <span
        class="form-error"
        *ngIf="
          !componentForm.controls['title'].value.length &&
          (componentForm.controls['title'].touched || form.submitted)
        "
      >
        Enter the tasks's title
      </span>

      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          class="form-control"
          id="description"
          name="description"
          required
          formControlName="description"
        ></textarea>
      </mat-form-field>

      <span
        class="form-error"
        *ngIf="
          !componentForm.controls['description'].value.length &&
          (componentForm.controls['description'].touched || form.submitted)
        "
      >
        Enter the tasks's description
      </span>

      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select formControlName="statusId" required>
          <mat-option *ngFor="let status of statuses" [value]="status.id">
            {{ status.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <app-users-search
        (userSelectedEvent)="handleUserSelect($event)"
        [skipUserIds]="selectedUsersIds"
        [boardId]="boardId"
      ></app-users-search>

      <h3>{{ selectedUsers.length ? "Assignees:" : "Unassigned" }}</h3>

      <ul class="assigned-users" *ngIf="selectedUsers.length">
        <li class="assigned-user" *ngFor="let user of selectedUsers">
          <div>
            <p class="username">{{ user.name }}</p>
            <p class="email">{{ user.email }}</p>
          </div>
          <mat-icon class="delete-icon" (click)="unselectUser(user.id)"
            >close</mat-icon
          >
        </li>
      </ul>
    </div>
    <div class="buttons">
      <button color="primary" type="submit" mat-raised-button>Create</button>
      <button color="primary" type="button" mat-raised-button mat-dialog-close>
        Cancel
      </button>
    </div>
  </form>
</div>
