<div class="container">
  <form
    *ngIf="editMode"
    [formGroup]="componentForm"
    (ngSubmit)="handleSubmit()"
    #form="ngForm"
  >
    <div class="form-group">
      <div *ngIf="error" class="form-error">
        {{ error }}
      </div>

      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        required
        formControlName="title"
        placeholder="Title"
      />

      <span
        class="form-error"
        *ngIf="
          !componentForm.controls['title'].value.length &&
          (componentForm.controls['title'].touched || form.submitted)
        "
      >
        Enter task title
      </span>

      <input
        type="text"
        class="form-control"
        id="description"
        name="description"
        required
        formControlName="description"
        placeholder="Description"
      />

      <span
        class="form-error"
        *ngIf="
          !componentForm.controls['description'].value.length &&
          (componentForm.controls['description'].touched || form.submitted)
        "
      >
        Enter task description
      </span>

      <button type="submit" mat-raised-button>Save</button>
    </div>

    <mat-progress-bar
      style="position: absolute; right: 3px; border-radius: 8px; width: 99%"
      *ngIf="isLoading"
      mode="indeterminate"
    ></mat-progress-bar>
  </form>

  <div class="task-info" *ngIf="!editMode">
    <h2 (click)="toggleMode()">{{ task.title }}</h2>

    <mat-form-field appearance="fill">
      <mat-label>Status</mat-label>
      <mat-select [(value)]="status.id" (selectionChange)="changeStatus()">
        <mat-option [value]="status.id" *ngFor="let status of allStatuses">
          {{ status.title }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <p>Description</p>
    <p>{{ task.description }}</p>
  </div>

  <div class="assignees">
    <h3 *ngIf="task.users.length">Assignees:</h3>
    <h3 *ngIf="!task.users.length">Unassigned</h3>

    <app-users-search [taskId]="task.id"></app-users-search>

    <div class="user-card-container" *ngIf="task.users.length">
      <mat-card *ngFor="let user of task.users" class="user-card">
        <p (click)="unassignTask(user.id)">
          {{ user.name }}
        </p>
      </mat-card>
    </div>
  </div>

  <div class="comments">
    <app-comment [comments]="task.comments" [taskId]="task.id"></app-comment>
  </div>
</div>
