.container {
  max-width: 80%;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  .no-boards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      text-align: center;
      font-size: 2rem;
    }
    button {
      min-width: 20%;
      margin: 10px;
    }
  }

  .board-card {
    margin: 10px;
    flex: 0 1 46%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      flex: 0 1 50%;
      margin: 0;
    }
    .description {
      flex: 1 1 auto;
      margin: 0;
    }
  }
}
