<div class="container">
  <form [formGroup]="componentForm" (ngSubmit)="handleSubmit()" #form="ngForm">
    <div class="form-group">
      <mat-form-field class="form-field" appearance="fill">
        <!-- <mat-label>Leave a comment</mat-label> -->
        <input
          matInput
          type="text"
          class="form-control"
          id="commentText"
          name="commentText"
          formControlName="commentText"
          placeholder="Comment"
        />
      </mat-form-field>

      <button type="submit" mat-raised-button>Send</button>
    </div>
  </form>

  <div>
    <mat-card class="comment-card" *ngFor="let comment of comments">
      <p>{{ comment.user.name }}</p>
      <p>{{ comment.commentText }}</p>
    </mat-card>
  </div>
</div>
