.container {
  .form-group {
    display: flex;
    gap: 10px;
    .form-field {
      flex: 1 1 90%;
    }
    button {
      align-self: center;
      margin-bottom: 18px;
    }
  }
  .comment-card {
    margin: 10px 0;
    p:first-child {
      font-weight: bold;
      font-size: 1.3rem;
    }
  }
}
