<app-board-header
  [board]="board"
  (updateBoardEvent)="getBoard()"
  [getColumns]="getColumns.bind(this)"
>
</app-board-header>

<div
  class="container"
  cdkDropListGroup
  cdkScrollable
  cdkDropList
  [cdkDropListData]="columns"
  (cdkDropListDropped)="dropColumn($event)"
  cdkDropListOrientation="horizontal"
  [cdkDropListAutoScrollStep]="30"
  cdkDropListLockAxis="x"
>
  <div
    cdkDrag
    class="column"
    [ngStyle]="{ 'flex-basis': 100 / columns.length + '%' }"
    *ngFor="let column of columns"
    cdkDropList
    [cdkDropListAutoScrollStep]="30"
    [cdkDropListData]="{ tasks: mappedTasks[column], statusTitle: column }"
    (cdkDropListDropped)="dropTask($event)"
  >
    <h2>{{ column }}</h2>

    <mat-card
      cdkDrag
      (click)="openTaskDialog(task.id)"
      class="task-card"
      *ngFor="let task of mappedTasks[column]"
    >
      <mat-card-title>{{ task.title }}</mat-card-title>
      <mat-card-subtitle>{{ task.description }}</mat-card-subtitle>
    </mat-card>
  </div>
</div>
