<div class="container">
  <form [formGroup]="componentForm" (ngSubmit)="handleSubmit()" #form="ngForm">
    <div class="form-group">
      <h2>Edit board</h2>

      <div *ngIf="error" class="form-error">
        {{ error }}
      </div>
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Title</mat-label>
        <input
          matInput
          type="text"
          class="form-control"
          id="title"
          name="title"
          required
          formControlName="title"
        />
      </mat-form-field>

      <span
        class="form-error"
        *ngIf="
          !componentForm.controls['title'].value.length &&
          (componentForm.controls['title'].touched || form.submitted)
        "
      >
        Enter the board's title
      </span>

      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          class="form-control"
          id="description"
          name="description"
          required
          formControlName="description"
        ></textarea>
      </mat-form-field>

      <span
        class="form-error"
        *ngIf="
          !componentForm.controls['description'].value.length &&
          (componentForm.controls['description'].touched || form.submitted)
        "
      >
        Enter the board's description
      </span>

      <app-users-search
        (userSelectedEvent)="handleUserSelect($event)"
        [skipUserIds]="selectedUsersIds"
      ></app-users-search>

      <div class="assigned-users" *ngIf="selectedUsers.length">
        <mat-card class="assigned-user" *ngFor="let user of selectedUsers">
          <div>
            <p>{{ user.name }}</p>
            <p>{{ user.email }}</p>
          </div>
          <mat-icon class="delete-icon" (click)="unselectUser(user.id)"
            >close</mat-icon
          >
        </mat-card>
      </div>
    </div>
    <div class="buttons">
      <button type="submit" color="primary" mat-raised-button>Update</button>
      <button
        type="button"
        color="primary"
        mat-raised-button
        mat-dialog-close=""
      >
        Cancel
      </button>
    </div>
  </form>
</div>
