.comments {
  overflow: scroll;
  max-height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(246, 246, 250);
  border-radius: 8px;
  margin-bottom: 20px;
  .comment {
    padding: 0 10px;
    margin: 5px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    .comment-content {
      flex: 1 1 90%;

      .comment-header {
        display: flex;
        gap: 10px;
        span {
          font-size: 0.7rem;
          color: rgb(110, 110, 110);
        }
      }
    }
    mat-icon {
      cursor: pointer;
    }
    p:first-child {
      font-weight: bold;
      font-size: 1.3rem;
    }
  }
}
